<% provide(:title, 'Contact Us') %>
<h1><%= yield(:title) %></h1>
<p>
	Contact the Ruby on Rails Tutorial about the sample app at 
	<a href="http://railstutorial.org/contact">contact page</a>
</p>
